<h2>{{movie.title}}</h2><span> ({{movie.release_date | date: 'yyyy'}})</span>
<div class="row">
    <div class="rating-votes">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <circle-progress style="float: left; margin-right: 8px; margin-left: -10px;" [titleFontSize]="'12'" [titleFontWeight]="100" [percent]="voteAverage" [radius]="30" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [titleColor]="'#ffffff'" [backgroundColor]="'#FDB900'"
                [unitsColor]="'#ffffff'" [outerStrokeColor]="outerStrokeColor" [innerStrokeColor]="innerStrokeColor" [animation]="true" [animationDuration]="300"></circle-progress>
            <p>Avaliação dos usuários</p>
        </div>
        <div class="col-md-8 col-xs-12">
            <button placement="bottom" tooltip="Adicionar a uma lista" type="button" class="btn btn-danger btn-circle"><i class="fa fa-list"></i>
            </button>
            <button placement="bottom" tooltip="Adicionar aos favoritos" type="button" class="btn btn-danger btn-circle"><i class="fa fa-heart"></i>
            </button>
            <button placement="bottom" tooltip="Adicionar à sua lista de interesses" type="button" class="btn btn-danger btn-circle"><i class="fa fa-bookmark"></i>
            </button>
            <button placement="bottom" tooltip="Avalie!" type="button" class="btn btn-danger btn-circle"><i class="fa fa-star"></i>
            </button>
        </div>
        <div class="col-md-6 col-xs-12 reproduct-trailer">
            <a click-stop-propagation (click)="openModal(template)"><i class="fa fa-caret-right fa-2x"></i> Reproduzir trailer</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 sinopse">
        <h3>Sinopse</h3>
        <p>{{movie.overview}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 technical">
        <h3>Equipe técnica principal</h3>
        <div class="row">
            <div class="col-md-4" *ngFor="let tech of movie['technical'] let idx = index;">
                <p>{{tech.name}}</p>
                <p class="job">{{tech.job}}</p>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Reproduzir trailer</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 390px">
        <iframe [src]="safeSrc" width="100%" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</ng-template>