p {
  font-size: 0.9em;
}

a {
  font-size: 0.9em;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
}

i > a {
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

span {
  font-size: 1.8em;
  color: gray;
  font-weight: 300;
}

.reproduct-trailer {
  margin-top: 10px;
}

.layer {
  background-color: rgba(43, 17, 8, 0.96);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.single-column {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 0;
}

.btn {
  margin-right: 10.999999%;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ffffff;
}

.btn:hover i {
  color: #000000;
}

.btn:last-child {
  margin-right: 0;
}

.btn-circle {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  padding-right: 12px;
  padding-top: 0px;
}

.rating-votes {
  display: flex;
  margin-bottom: 30px;
  padding-left: 0px;
}

.rating-votes a {
  color: #ffffff;
  cursor: pointer;
}

.fa {
  color: #ffffff;
  vertical-align: sub;
}

.rating-votes p {
  color: #ffffff;
  width: 0%;
}

.sinopse h3 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
}

.sinopse p {
  color: #ffffff;
  font-weight: lighter;
  font-size: 0.9em;
}

.technical h3 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
}

.technical {
  margin-top: 30px;
}

.technical p {
  color: #ffffff;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job {
  font-size: 0.8em;
}

.modal-content {
  background: none;
}

.modal-body {
  padding: 0;
}

.modal-header {
  background-color: #000000;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.modal-header h4 {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 100;
}

.modal-header span {
  font-size: 0.8em;
  color: #ffffff;
}

.tooltip-inner {
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 27.666667%;
    max-width: 27.666667%;
  }
  .col-md-6 {
    flex: 0 0 35%;
    max-width: 35%;
  }
}

@media (max-width: 768px) {
  .rating-votes {
    display: block;
  }
  .col-md-8 {
    display: flex;
  }
}
