h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.0rem;
}

.container-card {
    background-color: gray;
    max-width: 900px;
}

.nav {
    text-align: center;
}

.navbar {
    border-bottom: 1px solid #e4e3e3;
}

.navbar-nav li a {
    color: #000000;
    float: left;
}

.navbar-nav .nav-item {
    float: inherit;
    display: inline-block;
}

.navbar-dark .navbar-toggler {
    color: gray;
    border: 1px solid gray;
}

.col-md-4 {
    padding-left: 16px;
    padding-right: 6px;
}

.full-cast {
    margin-top: 30px;
    display: block;
}


/* CARDS */

section {
    padding: 30px 0;
    padding-bottom: calc(10vw + 10px);
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%, -50%);
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
}

.card-desc {
    padding: 0.8rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.gray-column {
    background-color: #f1f1f1;
    min-height: calc(100vh - 795px);
    box-sizing: border-box;
    /*     display: flex;
    padding-top: 35px; */
    padding-left: 35px;
}

.gray-column-info {
    display: block;
}

.wraper {
    max-width: 1100px;
    display: flex;
    align-content: flex-start;
    margin: 0 auto;
    min-height: 100%;
}

.gradient {
    background: #6db3f2;
    background: -moz-linear-gradient(to right, #ffffff 65%, #f1f1f1 90%, #ffffff 200%, #f1f1f1 100%);
    background: -webkit-linear-gradient(to right, #ffffff 65%, #f1f1f1 90%, #ffffff 200%, #f1f1f1 100%);
    background: linear-gradient(to right, #ffffff 65%, #f1f1f1 90%, #ffffff 200%, #f1f1f1 100%);
}

.social_links i {
    color: #000000;
    margin-right: 10px;
}

.social_links {
    display: flex;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.details-card {
    margin: 0 auto;
    min-height: 100%;
}

div.social_links a.social_link {
    margin-top: -10px;
    font-size: 1.0em;
}

.info-container {
    top: -35%;
    height: 30px;
    position: relative;
}

.info-container h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.info-container h4 {
    font-size: 1.0em;
}

.info-container p {
    font-size: 0.9em;
}

.info-container button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-light {
    border-color: #dadada;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 20.333333%;
        max-width: 18.333333%;
    }
}

@media (max-width: 768px) {
    i {
        color: #000000;
    }
    .gray-column {
        display: none;
    }
}