<!-- Navbar -->
<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <figure class="mx-auto">
            <a class="navbar-brand" href="#">
                <img src="assets/fast-logo.png" alt="Logo Fastshop" title="Logo Fastshop">
            </a>
        </figure>
    </div>
</nav>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input class="form-control" type="text" placeholder="Buscar por um Filme, Série ou Pessoa">
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>