/* CARDS MOVIES */

@at-root .lib-panel {
    margin-bottom: 25px;
    width: 110%;
}

#header {
    position: relative;
    min-height: 150px;
}

#header-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 6%;
    padding-top: 6%;
    border-top: 1px solid #e4e3e3;
}

.lib-panel .row {
    margin-right: 0px;
    margin-right: 0px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-date {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1em;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 20px 0 20px;
}

.lib-header a {
    color: #000000;
    text-decoration: none;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    min-height: 240px;
    display: block;
    font-size: 13px;
    margin-top: 30px;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.row-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.col-md-5 {
    padding-left: 0;
    padding-right: 0;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}

.wrap span {
    font-weight: 500;
}

.more-information a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 42.9999999%;
        max-width: 42.9999999%;
        padding-left: 0;
    }
    .col-md-6 {
        flex: 0 0 56.222%;
        max-width: 56.222%;
    }
    .offset-md-1 {
        margin-left: 9.999999%;
    }
}

@media (max-width: 768px) {
    .lib-panel {
        width: 105%;
    }
    .lib-panel .lib-row.lib-desc {
        position: relative;
        min-height: 150px;
        display: block;
        font-size: 13px;
        margin-top: 30px;
    }
}