h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

label {
    display: block;
}

.filters {
    margin-top: 30px;
}

.btn-primary {
    background-color: #eaeaea;
    border: none;
    color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #d8d8d8;
    border: none;
    color: #000;
}

.dropdown-menu {
    margin: 0 0 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #d0d0d0;
    color: #000;
}

.dropdown-item:focus,
.dropdown-item:hover {
    cursor: pointer;
    background-color: #efefef;
}