.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.single-column {
    padding-top: 30px;
    padding-bottom: 30px;
}

.custom-bg {
    height: auto;
    background-size: cover;
    width: auto;
    background-position: 80% 80%;
    background-size: cover;
}

.layer {
    background-color: rgba(43, 17, 8, 0.96);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inner-img img {
    border-radius: 5px;
}