/* You can add global styles to this file, and also import other style files */
i {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.page-link {
  border: 0px;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
}

.page-item.active .page-link {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}

.page-link:hover {
  color: #000;
  background-color: transparent;
}

.modal-backdrop.show {
  opacity: 0.88888;
}

.pagination ul li {
  font-size: 50px;
}

.tooltip-inner {
  background-color: #ffffff;
  color: #000000;
}
