.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.custom-bg {
    height: auto;
    background-size: cover;
    width: auto;
    background-position: 80% 80%;
    background-size: cover;
}

.layer {
    background-color: rgba(43, 17, 8, 0.96);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    color: #ffffff;
}

span {
    font-size: 1.8em;
    color: gray;
    font-weight: 300;
}

.layer {
    background-color: rgba(43, 17, 8, 0.96);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-column {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
}

.rating-voter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sinopse h3 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}

.sinopse p {
    color: #ffffff;
    font-weight: lighter;
    font-size: 0.9em;
}

.equipe h3 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
} */

@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 27.666667%;
        max-width: 27.666667%;
    }
}